<div class='loader' id="initpageloader" style="position:fixed;top: 100px; width: 100%; text-align: center;">
  <div style="width: 280px; margin: auto; padding: 20px;">
    <div style="margin-bottom:10px;">Loading...</div>
    <div style="margin:auto;width:240px;height:14px;border:1px solid #3498db;border-radius:20px;">
      <div
        style="width: 5%; background: #3498db url('../imgs/progressbar.gif'); border-radius:20px; height: 12px; opacity: 0.7; font-size: 10px; color: #000; line-height: 12px;">
      </div>
    </div>
  </div>
</div>

<div id="header"></div>

<div id="body" style="position: relative;" class="box1200">
  <div id="sidebar"></div>
  <div id="container"></div>
  <div id="body-loader" class="tc-loader ui inverted dimmer">
    <div class="ui large text loader">Loading...</div>
  </div>
</div>
<div id="settingpagemenu" class="hide"></div>
<div id="loginbox">
  <div data-reactid=".b">
    <div id="logindialog"
      style="position: absolute; top: 0px; width: 100%; z-index: 1001;  margin-top: 284px;display: block !important;"
      data-reactid=".b.0" class="transition visible">
      <div class="ui stackable four column grid" data-reactid=".b.0.0">
        <div class="column centered four wide" id="logininner" data-reactid=".b.0.0.0">
          <h1 style="text-align:center;margin-bottom:1em;" data-reactid=".b.0.0.0.0"><img src="imgs/logo/basecrop.png"
              width="240" data-reactid=".b.0.0.0.0.0"></h1>
          <div class="ui hidden small error message" data-reactid=".b.0.0.0.1">
            <div class="header" data-reactid=".b.0.0.0.1.0">Lỗi</div>
            <p data-reactid=".b.0.0.0.1.1"></p>
          </div>
          <form class="ui form" data-reactid=".b.0.0.0.2">
            <div class="field required" data-reactid=".b.0.0.0.2.0"><label data-reactid=".b.0.0.0.2.0.0">Email / Mã nhân
                viên</label><input type="text" id="email" data-reactid=".b.0.0.0.2.0.1"></div>
            <div class="field required" data-reactid=".b.0.0.0.2.1"><label data-reactid=".b.0.0.0.2.1.0">Mật
                khẩu</label><input type="password" id="password" data-reactid=".b.0.0.0.2.1.1"></div><button
              class="ui button teal" type="submit" data-reactid=".b.0.0.0.2.2">Đăng nhập</button><a
              href="#user/forgotpass" class="ui floated right pull-right" style="padding-top:0.6em;"
              data-reactid=".b.0.0.0.2.3">Quên mật khẩu?</a>
            <div class="ui divider" data-reactid=".b.0.0.0.2.4"></div>
            <div data-reactid=".b.0.0.0.2.5"><a href="https://www.basecrop.com/tao-tai-khoan" class="nocolor"
                style="color:#777;" title="Tạo công ty của bạn" data-reactid=".b.0.0.0.2.5.0"><small
                  data-reactid=".b.0.0.0.2.5.0.0"><span data-reactid=".b.0.0.0.2.5.0.0.0">« </span><span
                    data-reactid=".b.0.0.0.2.5.0.0.1">Tạo công ty</span></small></a></div>
          </form>
          <div class="ui relaxed divided list" data-reactid=".b.0.0.0.3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="reloginbox"></div>
<div id="companyinitbox"></div>
<div id="registerbox"></div>
<div id="forgotpassbox"></div>
<div id="tcbeeper"></div>
<div id="filepreview"></div>
<div id="actionsheetwrapper"></div>
<div id="notifywidgetexternal"></div>
<div id="appstartloader"></div>
<div id="globalloadindicator"></div>


<audio id="notificationAudio">
  <source src="files/notify.ogg" type="audio/ogg">
  <source src="files/notify.mp3" type="audio/mpeg">
  <source src="files/notify.wav" type="audio/wav"></audio>
