<div class="ui segments" >
  <div class="heading nopagination" style="margin-bottom:25px;" >
    <div class="pull-left ui breadcrumb large" ><span ></span><span
        ></span><a href="#employee" class="section active" ><span
          >Nhân viên</span><span > </span><span
          ></span></a><span ></span><span
        ></span></div>
    <ul class="headingtabs" >
      <li ><a href="#" class="active" ><span
            >Thêm mới</span><span ></span></a></li>
    </ul>
    <div style="clear:right;" ></div>
  </div>
  <div class="ui segment" >
    <form class="ui form" autocomplete="on" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="fields" >
        <div class="field four wide hideonsmall" >
          <h4 ><strong >Thông tin cá nhân</strong></h4>
          <p ></p>
        </div>
        <div class="field twelve wide" >
          <div class="fields" >
            <div class="field wide required four" ><label
                >Họ tên</label>
      <mat-form-field>
        <input matInput  formControlName="fullname" name="title" placeholder="Input">
      </mat-form-field>
            </div>
          </div>
          <div class="fields" >
            <div class="required four wide field" ><label
                >Email</label>
      <mat-form-field>
        <input matInput  formControlName="email" name="email" placeholder="Input">
      </mat-form-field>
              <div style="line-height:1.2;margin-top:5px;color:red;font-size:11px;" >
                Email phải hoạt động. Mật khẩu sẽ được gửi vào địa chỉ email này.</div>
            </div>
            <div class=" four  wide field" ><label >Điện
                thoại</label>      <mat-form-field>
                    <input matInput  formControlName="phone" name="phone" placeholder="Input">
                  </mat-form-field></div>
          </div>
        </div>
      </div>
      <div class="ui divider" ></div>
      <div class="fields" >
        <div class="field four wide hideonsmall" >
          <h4 ><strong >Thông tin nhân viên</strong></h4>
          <p >Thông tin chi tiết nhân viên</p>
        </div>
        <div class="field twelve wide" >


          <div class="fields" >
            <div class="four wide field">
              <label >Phòng
                ban</label>
                <!-- <mat-form-field>
                    <mat-select  placeholder="Transaction Type" formControlName="parent_id">
                      <mat-option *ngFor="let department of departments?.docs" value="{{ department?._id }}">{{ department?.title }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                    <!-- <mat-card-content>
                        <section class="example-section">
                            <mat-checkbox class="example-margin" *ngFor="let department of departments?.docs" [(ngModel)]="checked">{{ department?.title }}</mat-checkbox>
                          </section>
                    </mat-card-content>

                    <mat-checkbox *ngFor="let department of departments?.docs" >
                        <label>{{ department?.title }}</label>
                      </mat-checkbox>
                      <mat-form-field>
                          <mat-select  placeholder="Transaction Type" formControlName="parent_id">
                            <mat-option *ngFor="let department of departments?.docs" value="{{ department?._id }}">{{ department?.title }}</mat-option>
                          </mat-select>
                        </mat-form-field> -->
              <mat-form-field class="ca80">
                <mat-select multiple name="departments" formControlName="departments">
                   <mat-option *ngFor="let item of departments?.docs" [value]="item?._id"> {{item?.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        </div>
      </div>
      <div class="fields fieldaction" >
        <div class="field wide hideonsmall four" >
          <p class="requirebox" ><span >* : </span><span
              >Bắt buộc</span></p>
        </div>
        <div class="field wide twelve" ><button class="ui teal button" type="submit"
            >Thêm</button></div>
      </div>
    </form>
  </div>
</div>
